---
import { selectedProjects } from "../constants"
---


<section
class="mt-40 font-nunito text-2xl space-y-20 relative p-2"
id="selected-projects"
>
{selectedProjects.map(
  ({ imgSrc, title, description, technologies, code, demo }, i) => (
    <article
      class="flex gap-10 ml-30 max-xl:flex-col max-xl:text-center max-xl:ml-0"
    >
      <img
        src={imgSrc}
        alt={title}
        loading="lazy"
        class={`max-w-2xl w-full rounded-2xl max-xl:mx-auto z-10 ${
          (i + 1) % 2 == 0 ? "order-2 max-xl:order-first" : ""
        }`}
      />
      <div class="basis-1/3">
        <p class="text-5xl font-bold font-raleway">{title}</p>
        <p class="mt-5">{description}</p>
        <div class="text-xl flex flex-wrap gap-5 mt-5 max-xl:justify-center">
          {technologies.map((tech, i) => (
            <div
              class="py-1 px-3 border-1 border-secondary rounded-full"
            >
              <p>{tech}</p>
            </div>
          ))}
        </div>
        <div class="mt-5 space-x-10 mx-auto">
          <a href={code} target="_blank">
            Code
            <i class="fa-solid fa-up-right-from-square ml-2"></i>
          </a>
          <a href={demo} target="_blank">
            Demo
            <i class="fa-solid fa-up-right-from-square ml-2"></i>
          </a>
        </div>
      </div>
    </article>
  )
)}
</section>
